name: E2E Tests

on:
  push:
    branches: [testing]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Tämä käyttää nyt package.jsonissa määrittämäämme komentoa
          start: npm start
          wait-on: 'http://localhost:5173'
